Alias /tsds/services /usr/lib/grnoc/tsds/services/cgi-bin

<Location /tsds/services/>

  ### Configure Appropriate Auth/Authz here ###

  # CosignProtected On
  # AuthType Cosign
  # AuthLDAPURL "ldaps://ldap.grnoc.iu.edu ldap2.grnoc.iu.edu/dc=grnoc,dc=iu,dc=edu?uid"
  # AuthLDAPBindDN uid=ldap,ou=people,dc=grnoc,dc=iu,dc=edu
  # AuthLDAPBindPassword <redacted>
  # AuthLDAPGroupAttribute member
  # Require ldap-group cn=tsds,ou=webapps,dc=grnoc,dc=iu,dc=edu

  SetOutputFilter DEFLATE
  Options +ExecCGI
  AddHandler perl-script .cgi
  PerlResponseHandler ModPerl::Registry

</Location>

<Directory /usr/lib/grnoc/tsds/services/cgi-bin>
       <Files "admin.cgi">
               RewriteEngine On
               RewriteCond %{HTTPS} off
               RewriteRule (.*) https://%{HTTP_HOST}%{REQUEST_URI}
               CosignProtected On
               AuthType Cosign
               AuthLDAPURL "ldaps://ldap.grnoc.iu.edu ldap2.grnoc.iu.edu/dc=grnoc,dc=iu,dc=edu?uid"
               AuthLDAPBindDN uid=ldap,ou=people,dc=grnoc,dc=iu,dc=edu
               AuthLDAPBindPassword [REDACTED]
               AuthLDAPGroupAttribute member
               Require ldap-group cn=snapp-admin,ou=webapps,dc=grnoc,dc=iu,dc=edu
       </Files>
       <Files "aggregation.cgi">
               RewriteEngine On
               RewriteCond %{HTTPS} off
               RewriteRule (.*) https://%{HTTP_HOST}%{REQUEST_URI}
               CosignProtected On
               AuthType Cosign
               AuthLDAPURL "ldaps://ldap.grnoc.iu.edu ldap2.grnoc.iu.edu/dc=grnoc,dc=iu,dc=edu?uid"
               AuthLDAPBindDN uid=ldap,ou=people,dc=grnoc,dc=iu,dc=edu
               AuthLDAPBindPassword [REDACTED]
               AuthLDAPGroupAttribute member
               Require ldap-group cn=snapp-admin,ou=webapps,dc=grnoc,dc=iu,dc=edu
       </Files>
</Directory>
