[Unit]
Description=TSDS InfluxDB WebService

[Service]
User=root
Group=root
ExecStart=/usr/bin/tsds_influxdb daemon -m production -l http://0.0.0.0:8080
PIDFile=/var/run/tsds_influxdb.pid

# System Resource Limits
LimitFSIZE=infinity
LimitCPU=infinity
LimitAS=infinity
LimitNOFILE=64000
LimitNPROC=64000

[Install]
WantedBy=multi-user.target
